
$white: #fff;
$light-green: rgb(19, 207, 130);
$dark-blue: rgb(22, 77, 145);
$light-blue: rgb(95, 149, 243);
$light-gray: rgb(190, 190, 190);
$lighter-gray: rgb(240, 240, 240);
$light-black: rgb(30, 30, 30);
$orange: rgb(255, 100, 24);
$light-purple: rgb(155, 41, 255);